

[class*="_icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons';
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-arrow:before {
    content: "\e900";
  }
  ._icon-instagram:before {
    content: "\e901";
  }
  ._icon-twitter:before {
    content: "\e902";
  }
  ._icon-youtube:before {
    content: "\e903";
  }
  